<!DOCTYPE html>
<html lang="en">

<head>
    <!-- General setting -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{global.baseDir}" />

    <!-- Meta Tags -->
    <title>{head.title}|{global.appName}</title>
    <meta name="description" content="{head.description}">

    <!-- Static assets -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css">
</head>

<body class="{body.class}">
    <!-- Page wrapper -->
    <div class="wrapper">

        <!-- Page header -->
        <div class="header">
            <!-- Logo -->
            <a class="logo" href="/"></a>

            <!-- Navigation Bar -->
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="loggedOut">
                    <a href="/account/create">Signup</a>
                </li>
                <li class="loggedOut">
                    <a href="/session/create">Login</a>
                </li>
                <li class="loggedIn">
                    <a href="/checks/all">Dashboard</a>
                </li>
                <li class="loggedIn">
                    <a href="/account/edit">Account Settings</a>
                </li>
                <li class="loggedIn">
                    <a href="#" id="logoutButton">Logout</a>
                </li>
            </ul>

            <div class="clear"></div>
        </div>

        <!-- Page specific content -->
        <div class="content">